.box-tab-blog {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-bottom: 1rem;
  .tabs {
    display: flex;
    border-bottom: solid 1px #e6e6e6;
    .list {
      display: flex;
      flex-wrap: wrap;
    }
    .title {
      text-transform: uppercase;
      text-align: center;
    }
    .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: 700;
      color: #000;
    }
    .item:hover a {
      color: #fff;
    }
    .item:not(.active):hover a {
      color: #0a923c;
    }
    .item:not(.title) {
      margin: 0.25rem 0.5rem;
    }
    .active {
      padding: 0.5rem;
      background-color: #0a923c;
      color: #fff;
    }
  }
  .tab-content {
    padding: 1rem;
  }
  .view-more {
    padding: 0.5rem 1rem;
    border-top: solid 1px #e6e6e6;
  }
  .view-more span {
    color: #0a923c;
    cursor: pointer;
  }
  .view-more-link {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: all 0.01s ease;
    -webkit-transition: all 0.01s ease;
    .text {
      margin-right: 0.5rem;
    }
  }
  .view-more-link:hover {
    text-decoration: underline;
    font-weight: 700;
  }
}

.blogs-list {
  display: flex;
  color: #000;
  position: relative;
  .main-blog {
    width: 50%;
    padding-right: 0.5rem;
    height: fit-content;
    .banner {
      margin-right: auto;
      cursor: pointer;
      border-radius: 8px;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .banner:hover ~ .blog-meta {
      color: #0a923c;
    }
    .title:hover {
      color: #0a923c;
    }
    .date {
      margin-left: 0.5rem;
    }
    .blog-meta {
      margin-top: 1rem;
      .title {
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: none;
        -webkit-transition: none;
      }
      .description {
        color: #a1a1a1;
        font-size: 12px;
        margin-top: 0.5rem;
        .author {
          font-weight: 700;
        }
      }
    }
  }
  .sub-blogs {
    padding-left: 0.5rem;
    width: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    .blog {
      cursor: pointer;
      border: 1px solid #e6e6e6;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      flex-wrap: nowrap;
      border-radius: 8px;
    }
    .banner-wrapper {
      overflow: hidden;
      width: 40%;
    }
    .banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .blog:not(:first-of-type) {
      margin-top: 1rem;
    }
    .blog:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      .title {
        color: #0a923c;
      }
    }
    .blog:hover .banner {
      transform: scale(1.1);
    }
    .blog-meta {
      font-weight: 600;
      padding: 1rem;
      width: 60%;
      .title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: none;
        -webkit-transition: none;
      }
    }
  }
}

.blogs-slide {
  .blog-card:hover > .blog-meta .title {
    color: #0a923c;
  }
  .blog-card {
    cursor: pointer;
    box-shadow: 0 1px 4px 0 rgba(102, 98, 98, 0.4);
    border-radius: 8px;
    .banner {
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .blog-meta {
      padding: 1rem;
      .title {
        font-weight: 700;
        font-size: 16px;
        color: #000;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: none;
        -webkit-transition: none;
      }
      .description {
        margin-top: 0.5rem;
        color: #a1a1a1;
        font-size: 13px;
        .author {
          font-weight: bold;
        }
        .date {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.slider {
  width: -webkit-fill-available;
}

.slider-item {
  padding: 0.5rem;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide div {
  height: 100%;
}

.slick-slider .slick-prev {
  left: 0 !important;
  z-index: 999;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  line-height: 30px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  width: 2rem;
  height: 2rem;
  padding: 8px;
}

.slick-slider .slick-next {
  right: 0 !important;
  z-index: 999;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  line-height: 30px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  width: 2rem;
  height: 2rem;
  padding: 8px;
}

@media only screen and (min-width: 991px) {
}

@media only screen and (max-width: 767px) {
}
