@import '../../styles/common.css';

.default-layout {
  color: #fff;
  .top-panel {
    background-color: var(--cl1);
    display: flex;
    align-items: center;
    .top-panel-wrapper {
      display: flex;
      align-items: center;
      margin: 0.3rem 5rem 0.3rem;
      .hotline {
        font-size: 18px;
        font-weight: 700;
        margin-left: 5px;
      }
      .divider {
        border-color: #fff;
        height: 1.25rem;
        margin: 0 1rem;
      }
      .chat-us-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        .chat-us-icon {
          height: 22px;
          width: 22px;
          fill: #fff;
          transition: 0.3s;
          margin-right: 0.25rem;
        }
      }
      .chat-us-wrapper:hover {
        color: #ffbe00;
        .chat-us-icon {
          fill: #ffbe00;
        }
      }
    }
  }
  #header {
    z-index: 1000;
    position: relative;
    background-color: #0a923c;
    .container {
      padding: 0.5rem 0;
      margin-left: 5rem;
      margin-right: 5rem;
      #logo {
        max-height: 28px;
        cursor: pointer;
      }
      .header-item {
        display: flex;
        align-items: center;
      }
      .search-icon {
        height: 18px;
        width: 18px;
        fill: #10723a;
        transition: 0.3s;
      }
      .group-item {
        transition: 0.3s;
        cursor: pointer;
        display: flex;
        font-size: 13px;
        align-items: center;
        .title {
          margin-left: 0.2rem;
        }
        .icon {
          height: 22px;
          width: 22px;
          fill: #fff;
          transition: 0.3s;
          margin-right: 0.25rem;
        }
      }
      .group-item:hover {
        color: #ffbe00;
        .icon {
          fill: #ffbe00;
        }
      }
      .widget-mini-cart {
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 4px 10px;
        .title {
          margin-left: 0.5rem;
          font-size: 13px;
        }
        .count {
          width: 22px;
          height: 22px;
          line-height: 22px;
          background: #ffbe00;
          display: inline-block;
          color: #10723a;
          text-align: center;
          border-radius: 100%;
          font-weight: 600;
          margin-left: 0.5rem;
        }
        .icon {
          height: 22px;
          width: 22px;
          fill: #fff;
          transition: 0.3s;
          margin-right: 0.25rem;
        }
      }
      .widget-mini-cart:hover {
        border-color: #ffbe00;
      }
    }
  }
  #main-menu {
    .main-menu {
      margin-left: 5rem;
      margin-right: 5rem;
    }
    .noSelect {
      user-select: none;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      display: flex;
      justify-content: space-between;
    }

    nav {
      height: 100%;
    }

    nav ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      height: 100%;
    }

    .sec-menu-category {
      width: 20%;
      background-color: #10723a;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
      }
      .sec-menu-category-icon {
        fill: #fff;
        height: 18px;
        width: 18px;
        margin-right: 0.5rem;
      }
      ul.vertical-menu {
        background-color: #fff;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
        height: unset;
      }
      ul.vertical-menu li.itemmega {
        position: static;
        background-color: #fff;
      }
      ul.vertical-menu li.itemmega a {
        color: #000;
      }
      ul.vertical-menu li.itemmega:hover a {
        color: #10723a;
      }
      ul.vertical-menu li.itemmega:hover > .wrapul {
        display: flex;
        flex-wrap: wrap;
      }
      ul.vertical-menu li:hover > .wrapul {
        margin: 0;
        overflow: visible;
        opacity: 1;
        visibility: visible;
      }
      ul.vertical-menu li.itemmega > .wrapul {
        min-height: 100%;
        width: 1010px !important;
        left: 100%;
        top: 0;
        padding: 10px;
      }
      ul.vertical-menu .wrapul {
        position: absolute;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        list-style: none;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        display: none;
        color: #000;
        .item {
          margin-right: 6rem;
          .title {
            font-size: 15px;
            font-weight: 700;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            line-height: 30px;
            padding: 5px 10px;
          }
          .list-chilren {
            a {
              color: #000;
              -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease;
              line-height: 30px;
              padding: 5px 10px;
            }
            a:hover {
              color: #10723a;
            }
          }
        }
      }
    }

    .sec-menu {
      width: ((1/6) * 100) * 1%;
      #menu-layer {
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        width: 220px;
        li {
          padding: 1.5rem 15px;
          line-height: 30px;
          font-weight: 300;
          color: #fff;
        }
      }
      .title {
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }

    nav ul > li {
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      height: 100%;
      transition: all 0.3s;
      position: relative;
      &:hover {
        background-color: #10723a;
        cursor: pointer;
      }
      .title {
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    ul li ul {
      display: none;
      white-space: nowrap;
      visibility: hidden;
      z-index: 999999;
      position: absolute;
      top: 50px;
      height: 0;
      width: 100%;
      li {
        background: #0a923c;
        &:hover {
          background-color: #10723a;
          cursor: pointer;
        }
      }
    }

    ul li ul li > a {
      width: 100%;
      font-weight: 100;
    }
    ul li:hover > ul {
      visibility: visible;
      display: block;
    }

    .parent-menu {
      left: 0;
      a {
        font-weight: 100;
      }
    }

    .nested-submenu {
      position: absolute;
      top: 0;
      left: 100%;
    }
  }
  .cs-footer {
    background-color: var(--cl2);
    height: 55px;
    line-height: 55px;
  }
  #footer {
    padding-top: 25px;
    color: #858383;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    .container {
      margin-left: 5rem;
      margin-right: 5rem;
      .row {
        .logo {
          max-height: 45px;
          margin-bottom: 1rem;
        }
        .item {
          margin-top: 0.5rem;
          display: flex;
          align-items: flex-start;
          .icon {
            margin-right: 0.5rem;
          }
          .text {
            font-size: 13px;
          }
        }
        .item:hover {
          color: unset;
        }
        .widget {
          .widget-title {
            font-size: 14px;
            font-weight: 600;
            color: #373737;
            text-transform: uppercase;
            margin-bottom: 15px;
          }
          ul.widget-menu {
            list-style: none;
          }
          ul.widget-menu li:hover > a,
          #footer ul.menu li[class*='current'] > a {
            color: #10723a;
          }
          ul.widget-menu li + li {
            margin-top: 10px;
          }
          .widget-connect {
            display: flex;
          }
        }
      }
      #copyright {
        line-height: 24px;
        padding: 8px 0;
        font-size: 12px;
        border-top: 1px solid #e6e6e6;
        margin-top: 3rem;
        position: relative;
        font-size: 13px;
        .copyright-wrapper {
          padding-right: 15px;
          padding-left: 15px;
        }
      }
    }
  }
  .breadcrumb-wrapper {
    background-color: #e6e6e6;
    line-height: 20px;
    padding: 10px 0;
    .breadcrumb {
      margin: 0 5rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  #main-menu {
    background-color: #0a923c;
    position: relative;
    z-index: 100;
  }
}

@media only screen and (max-width: 991px) {
  .wrap-menu-header {
    display: none !important;
  }
  #top-panel {
    display: none !important;
  }
  #header {
    .header-notification {
      display: none !important;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  #header #logo {
    max-height: 40px !important;
  }
}

@media only screen and (max-width: 768px) {
  #footer {
    .container {
      margin: 1rem !important;
    }
    .widget {
      margin-top: 1rem;
    }
  }
}
