.news-section {
  margin: 1rem 5rem;
  .menu {
    display: inline-block;
    font-family: Roboto Condensed, sans-serif;
    height: auto;
    word-spacing: 0px;
    margin-bottom: 1rem;
    a {
      font-size: 15px;
      color: #333;
      text-transform: uppercase;
      font-weight: 400;
      border-radius: 2px;
      margin-right: 1rem;
    }
    a:hover {
      color: #0a923c;
    }
    .active {
      background-color: #0a923c;
      color: #fff;
      padding: 3px 5px;
      text-transform: uppercase;
      margin-right: 1rem;
      font-size: 15px;
    }
  }
  .banner-blogs {
    display: flex;
    margin-bottom: 1rem;
    .left-side {
      float: left;
      width: 50%;
      padding-right: 0.25rem;
    }
    .right-side {
      float: left;
      width: 50%;
      padding-left: 0.25rem;
      .top-side {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.social-link {
  background-color: #0a923c;
  margin-left: 0.5rem;
  padding: 0.25rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.5rem;
}

@media only screen and (max-width: 991px) {
  .news-section {
    margin: 1rem 1rem;
  }
}
