@import './common.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background-color: #0a923c;
}
